.LoginForm {
  text-align: center;
}

.layout{
  display: flex; /*позволяет элементам внутри контейнера автоматически подстраиваться под доступное пространство */
  flex-direction: row; /* определяет направление главной оси flex-контейнера*/
  justify-content: center; /*используется для выравнивания содержимого вдоль главной оси flex-контейнера*/
  align-items: flex-end; /* используется для выравнивания элементов по поперечной оси */
  text-align: center;/*используется для выравнивания линейного содержимого (например, текста) по горизонтали*/
  padding: 10px;
  background-color: #33e2d9;
}
